body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: 'Montserrat-Black';
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #A8D8EA;
  color: #222831;
}

.white-section {
    background-color: #fff;
}

/*  Navigation Bar */

.navbar {
  padding-bottom: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
  margin: 20% 0;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

/* Download Buttons */

.download-button {
  margin: 5% 5% 5% 0;
}

/* Title Section */


#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Title Image */

.title-image {
  width: 15%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;

}

/* Features section */

#features {
  position: relative;
  z-index: 1;
}

.feature-title {
  font-size: 1.5rem;
}

.icon {
  color: #FF2E63;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #E84545;
}

.feature-box {
  padding: 5%;
}

/* Testimonials Sections */

#testimonials {
  background-color: #A8D8EA;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press{
  background-color: #A8D8EA;
  padding-bottom: 3%;
}

.press-img {
  width: 10%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* CTA Section */


/* Footer Section */


.social-icon {
  margin: 20px 10px;
}

@media (max-width:1028px) {

#title {
  text-align: center;
}

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

.col {
  padding: 3% 2%;
}
